html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  color: #626262;

  line-height: 24px;
  font-size: 14px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
.container {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 70px;
  padding-top: 76px;
}

.page-header {
  margin-bottom: 76px;
}
.site-navigation {
  list-style: none;
  text-align: center;
}
.site-navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
}
.site-navigation li:last-child {
  margin-right: 0;
}
.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  outline: 0;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #56c1f7;
}
.article-list {
  list-style: none;
  font-size: 0px;
  margin-bottom: 52px;
}
.article-list-item {
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 134px;
}
.article-list-item:nth-child(2n) {
  margin-right: 0;
}
.article-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}
.article-list-item-image {
  width: 420px;
  height: 280px;
  margin-bottom: 30px;
}
.article-list-item-subtitle {
  font-family: "Ubuntu";
  color: #b4ad9e;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 17px;
  font-size: 14px;
  margin-bottom: 28px;
}
.article-list-item-name {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}
.article-list-item-text {
  font-size: 14px;
}

.page-button-wrapper {
  text-align: center;
}
.page-button {
  font-size: 20px;
  background-color: #ffffff;
  border: 1px solid #626262;
  padding: 0 32px;
  outline: 0px;
  border-radius: 0px;
  color: #626262;
  line-height: 58px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.page-button:hover,
.page-button:focus {
  color: #ffffff;
  background-color: #626262;
}
